name: actionlint

on:
  pull_request:
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/actionlint.yaml'
      - '.github/actionlint.yml'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/actionlint.yaml'
      - '.github/actionlint.yml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          fail_level: error
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: warning
          actionlint_flags: "-color -shellcheck= -pyflakes="
